<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appencomienda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appencomienda">
        <activity android:name=".actividades.MenuInicio"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.EncomiendaEdit2" />
        <activity android:name=".actividades.BuscarAdmiActitvity" />
        <activity
            android:name=".actividades.BuscarActivity"
            android:exported="true" />
        <activity
            android:name=".actividades.Informes"
            android:exported="true" />
        <activity android:name=".actividades.EncomiendaEdit" />
        <activity
            android:name=".actividades.EncomiendasHome"
            android:exported="true" />
        <activity android:name=".actividades.Menu" />
        <activity
            android:name=".actividades.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".actividades.RegistroEncomiendaActivity"
            android:exported="true" />
    </application>

</manifest>